@charset "utf-8";
.container{
    display: grid;
    grid-template-rows: repeat(3, 100px);
    grid-template-columns: repeat(4,1fr);
    border:1px  solid red;
}

.caixa1{
    background-color: blue;
    grid-area: 1/1/1/5;
}
.caixa2{
    background-color: red;
    grid-area: 2/1/-1/3;
}    
.caixa3{
   background-color: yellow;
   grid-area: 2/3/-1/-1;
}