@charset "utf-8";
*{
    padding: 0px;
    margin: 0px;
    text-align: center;
}
div.container{
    display: grid;
    height: 100vh;
    grid-template-columns: 4fr 1fr;
    grid-template-rows: 2fr 1fr 90vh 1fr;
    gap: 5px;
}
header{
    background-color: blue;
    grid-area: 1/1/2/-1;

}
menu{
    background-color: red;
    grid-area:2/1/3/-1 ;

}
main{
    grid-area: 3/1/-2/-2;
    background-color: yellow;
}
section{
    background-color: crimson;
    grid-area: 3/-2/-2/-1;
}
footer{
    grid-area: -2/1/-1/-1;
    background-color: black;
    color: white;
}